<h2 mat-dialog-title class="text-2xl font-semibold">
    {{ 'residences.form.editTitle' | transloco }}
</h2>
<div mat-dialog-content>
    <form [formGroup]="residenceForm" (ngSubmit)="onSubmit()">
        <div class="w-full flex flex-col space-y-4">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label for="libelle">
                    {{ 'residences.fields.name' | transloco }}
                </mat-label>
                <input matInput name="libelle" formControlName="libelle" />
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:home'"
                ></mat-icon>
                <mat-error
                    *ngIf="f.libelle.touched && f.libelle.errors?.required"
                    class="error-message"
                >
                    {{ 'validation.required.name' | transloco }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="fill">
                <mat-label for="adresse">
                    {{ 'fields.address' | transloco }}
                </mat-label>
                <input matInput name="adresse" formControlName="adresse" />
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:map'"
                ></mat-icon>
                <mat-error
                    *ngIf="f.adresse.touched && f.adresse.errors?.required"
                    class="error-message"
                >
                    {{ 'validation.required.address' | transloco }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="fill">
                <mat-label for="telephoneResidence"
                    >{{ 'residences.fields.phone' | transloco }}</mat-label
                >
                <input
                    matInput
                    maxlength="9"
                    name="telephoneResidence"
                    formControlName="telephoneResidence"
                    #postalCode
                />
                <mat-hint align="end"
                    >{{ postalCode.value.length }} / 9</mat-hint
                >
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:phone'"
                ></mat-icon>
                <mat-error
                    *ngIf="
                        f.telephoneResidence.touched &&
                        f.telephoneResidence.errors?.required
                    "
                    class="error-message"
                >
                    {{ 'validation.required.phone' | transloco }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="fill">
                <mat-label for="role">
                    {{ 'residences.fields.manager' | transloco }}
                </mat-label>
                <mat-select
                    [placeholder]="'fields.manager' | transloco"
                    formControlName="responsable"
                    [compareWith]="onCompareUser"
                >
                    <mat-option *ngFor="let res of users" [value]="res">
                        {{ res.prenom | titlecase }}
                        {{ res.nom | uppercase }}</mat-option
                    >
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user'"
                ></mat-icon>
                <mat-error
                    *ngIf="
                        f.responsable.touched && f.responsable.errors?.required
                    "
                    class="error-message"
                >
                    {{ 'validation.required.manager' | transloco }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full fuse-mat-textarea" appearance="fill">
                <mat-label for="description">
                    {{ 'fields.description' | transloco }}
                </mat-label>
                <textarea
                    matInput
                    name="description"
                    formControlName="description"
                    [rows]="3"
                    matTextareaAutosize
                ></textarea>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:location-marker'"
                ></mat-icon>
            </mat-form-field>
            <div class="w-full flex items-center space-x-4">
                <button mat-raised-button color="primary">
                    {{ 'common.save' | transloco }}
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    (click)="onReset()"
                >
                    {{ 'common.cancel' | transloco }}
                </button>
            </div>
        </div>
    </form>
</div>
