<h2 mat-dialog-title>Ajout résidence</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="saveResidence()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="col-span-1 gt-xs:pr-3">
                <mat-label for="libelle">Nom résidence</mat-label>
                <input matInput name="libelle" formControlName="libelle">
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:home'"></mat-icon>
                <mat-error *ngIf="formResidence.libelle.touched && formResidence.libelle.errors?.required" class="error-message">
                    Le nom est obligatoire.
                </mat-error>
            </mat-form-field>
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="col-span-1 gt-xs:pl-3">
                <mat-label for="adresse">Adresse</mat-label>
                <input matInput name="adresse" formControlName="adresse">
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:map'"></mat-icon>
                <mat-error *ngIf="formResidence.adresse.touched && formResidence.adresse.errors?.required" class="error-message">
                    L'adresse est obligatoire.
                </mat-error>
            </mat-form-field>
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label for="telephoneResidence">Téléphone résidence</mat-label>
                <input
                    matInput
                    maxlength="9" name="telephoneResidence" formControlName="telephoneResidence"
                    #postalCode>
                <mat-hint align="end">{{postalCode.value.length}} / 9</mat-hint>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                <mat-error *ngIf="formResidence.telephoneResidence.touched && formResidence.telephoneResidence.errors?.required" class="error-message">
                    Le télephone est obligatoire.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-span-1 gt-xs:pl-3">
                <mat-label for="role">Responsable résidence</mat-label>
                <mat-select [placeholder]="'Responsable'" formControlName="responsable">
                    <!--                    <mat-option *ngFor="let role of roles$ | async" [value]="role">{{role.libelle}}</mat-option>-->
                    <mat-option *ngFor="let res of responsables" value="{{res.telephone}}">{{res.libelle}}</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user'"></mat-icon>
                <mat-error *ngIf="formResidence.responsable.touched && formResidence.responsable.errors?.required" class="error-message">
                    Le responsable est obligatoire.
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="col-span-full fuse-mat-textarea flex-auto">
                <mat-label for="description">Description</mat-label>
                <textarea
                    matInput name="description" formControlName="description"
                    [rows]="3"
                    matTextareaAutosize></textarea>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
            <div class="col-span-1">
                <button *ngIf="!isImage" mat-flat-button type="button" class="bg-secondary text-white" (click)="fileInput.click()">Choisir image</button>
                <button *ngIf="isImage" mat-flat-button type="button" class="bg-red-600 text-white" (click)="removeImage()">Effacer image</button>
            </div>
            <input type="file" class="hidden" #fileInput (change)="fileChangeEvent($event)" />
            <div class="col-span-full shadow-lg w-full rounded-xl overflow-hidden max-h-40" *ngIf="isImage">
                <img class="object-cover w-full h-full" [src]="imageResidence" alt="">
            </div>
            <div class="col-span-full flex justify-end space-x-4">
                <button mat-flat-button mat-dialog-close type="button" class="bg-red-600 text-white">Annuler</button>
                <button type="submit" mat-flat-button color="primary">Enregistrer</button>
            </div>
        </div>
    </form>
</mat-dialog-content>
