<div class="p-6 w-full content-container flex flex-col space-y-4">
    <div class="w-full flex justify-between items-center">
        <h2 class="text-4xl font-semibold">
            {{ 'delegations.form.newTitle' | transloco }}
        </h2>
        <!-- New user -->
        <button
            class="ml-4 px-1 sm:px-4 min-w-10 text-white"
            mat-flat-button
            [routerLink]="['/delegations']"
            [color]="'primary'"
        >
            <mat-icon
                class="icon-size-5"
                svgIcon="mat_solid:arrow_back"
            ></mat-icon>
            <span class="hidden sm:inline-block ml-2">
                {{ 'common.backToList' | transloco }}
            </span>
        </button>
    </div>

    <fuse-card class="w-full flex-1 h-full overflow-y-scroll p-4">
        <form
            class="w-full"
            [formGroup]="delegationForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="w-full grid grid-cols-2 gap-6">
                <!-- Info réservation -->
                <div class="col-span-2 w-full flex space-x-2 items-center">
                    <h2 class="text-xl font-semibold">
                        {{ 'delegations.form.information' | transloco }}
                    </h2>
                    <div class="flex-1">
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div class="col-span-1 w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>{{
                            'fields.delegationName' | transloco
                        }}</mat-label>
                        <input matInput type="text" formControlName="nom" />
                    </mat-form-field>
                </div>
                <div class="col-span-1 w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>{{
                            'fields.peopleCount' | transloco
                        }}</mat-label>
                        <input
                            matInput
                            type="number"
                            min="1"
                            max="50"
                            formControlName="nombre"
                        />
                    </mat-form-field>
                </div>
                <ng-container formArrayName="invites">
                    <ng-container
                        *ngFor="
                            let guestForm of invites.controls;
                            let i = index;
                            let first = first
                        "
                        [formGroup]="guestForm"
                    >
                        <div
                            class="col-span-2 w-full flex space-x-2 items-center"
                        >
                            <h2 class="text-xl font-semibold" *ngIf="first">
                                {{ 'fields.delegationLeader' | transloco }}
                            </h2>
                            <!-- <h2 class="text-xl font-semibold" *ngIf="!first">
                                {{ 'fields.guest' | transloco }} {{ i + 1 }}
                            </h2> -->
                            <div class="flex-1">
                                <mat-divider></mat-divider>
                            </div>
                            <button
                                type="button"
                                mat-icon-button
                                color="warn"
                                (click)="removeGuest(i)"
                                *ngIf="!first"
                            >
                                <mat-icon
                                    svgIcon="heroicons_solid:trash"
                                ></mat-icon>
                            </button>
                        </div>
                        <div class="col-span-1 w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.firstName' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="prenom"
                                    type="text"
                                    [placeholder]="
                                        ('delegations.form.guestFirstNamePlaceholder'
                                            | transloco : { index: i + 1 })
                                    "
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-span-1 w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.lastName' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="nom"
                                    type="text"
                                    [placeholder]="
                                        ('delegations.form.guestLastNamePlaceholder'
                                            | transloco : { index: i + 1 })
                                    "
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-span-1 w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.phone' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="telephone"
                                    type="text"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-span-1 w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.address' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="adresse"
                                    type="text"
                                />
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-span-1 w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{ 'fields.email' | transloco }}</mat-label>
                                <input
                                    matInput
                                    formControlName="email"
                                    type="email"
                                    [placeholder]="
                                        ('delegations.form.guestEmailPlaceholder'
                                            | transloco : { index: i + 1 })
                                    "
                                />
                            </mat-form-field>
                        </div> -->
                    </ng-container>
                </ng-container>

                <div
                    class="col-span-full mb-4 space-x-4 flex w-full items-center"
                >
                    <button
                        mat-raised-button
                        class="w-full max-w-60"
                        color="primary"
                        [disabled]="delegationForm.invalid"
                    >
                        {{ 'common.save' | transloco }}
                    </button>
                    <button
                        mat-raised-button
                        class="w-full max-w-60"
                        color="warn"
                    >
                        {{ 'common.cancel' | transloco }}
                    </button>
                </div>
            </div>
        </form>
    </fuse-card>
</div>
