<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">
            {{ 'delegations.form.newTitle' | transloco }}
        </h2>
        <div class="kh-page-actions">
            <button
                class="w-full sm:w-auto text-white"
                mat-flat-button
                [routerLink]="['/delegations']"
                [color]="'primary'"
            >
                <mat-icon
                    class="icon-size-5 dir-aware-icon"
                    svgIcon="mat_solid:arrow_back"
                ></mat-icon>
                <span class="kh-button-label">
                    {{ 'common.backToList' | transloco }}
                </span>
            </button>
        </div>
    </div>

    <fuse-card class="w-full flex-1 min-h-0 p-4">
        <form
            class="w-full"
            [formGroup]="delegationForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
                <!-- Info réservation -->
                <div class="kh-form-section">
                    <h2 class="text-xl font-semibold">
                        {{ 'delegations.form.information' | transloco }}
                    </h2>
                    <div class="flex-1">
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>{{
                            'fields.delegationName' | transloco
                        }}</mat-label>
                        <input matInput type="text" formControlName="nom" />
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>{{
                            'fields.peopleCount' | transloco
                        }}</mat-label>
                        <input
                            matInput
                            type="number"
                            min="1"
                            max="50"
                            formControlName="nombre"
                        />
                    </mat-form-field>
                </div>
                <ng-container formArrayName="invites">
                    <ng-container
                        *ngFor="
                            let guestForm of invites.controls;
                            let i = index;
                            let first = first
                        "
                        [formGroup]="guestForm"
                    >
                        <div class="kh-form-section">
                            <h2 class="text-xl font-semibold" *ngIf="first">
                                {{ 'fields.delegationLeader' | transloco }}
                            </h2>
                            <!-- <h2 class="text-xl font-semibold" *ngIf="!first">
                                {{ 'fields.guest' | transloco }} {{ i + 1 }}
                            </h2> -->
                            <div class="flex-1">
                                <mat-divider></mat-divider>
                            </div>
                            <button
                                type="button"
                                mat-icon-button
                                color="warn"
                                (click)="removeGuest(i)"
                                *ngIf="!first"
                            >
                                <mat-icon
                                    svgIcon="heroicons_solid:trash"
                                ></mat-icon>
                            </button>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.firstName' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="prenom"
                                    type="text"
                                    [placeholder]="
                                        ('delegations.form.guestFirstNamePlaceholder'
                                            | transloco : { index: i + 1 })
                                    "
                                />
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.lastName' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="nom"
                                    type="text"
                                    [placeholder]="
                                        ('delegations.form.guestLastNamePlaceholder'
                                            | transloco : { index: i + 1 })
                                    "
                                />
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.phone' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="telephone"
                                    type="text"
                                />
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{
                                    'fields.address' | transloco
                                }}</mat-label>
                                <input
                                    matInput
                                    formControlName="adresse"
                                    type="text"
                                />
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-span-1 w-full">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>{{ 'fields.email' | transloco }}</mat-label>
                                <input
                                    matInput
                                    formControlName="email"
                                    type="email"
                                    [placeholder]="
                                        ('delegations.form.guestEmailPlaceholder'
                                            | transloco : { index: i + 1 })
                                    "
                                />
                            </mat-form-field>
                        </div> -->
                    </ng-container>
                </ng-container>

                <div class="kh-form-actions">
                    <button
                        mat-flat-button
                        class="w-full sm:max-w-60"
                        color="primary"
                        [disabled]="delegationForm.invalid"
                    >
                        {{ 'common.save' | transloco }}
                    </button>
                    <button
                        mat-flat-button
                        class="w-full sm:max-w-60 bg-red-600 text-white"
                    >
                        {{ 'common.cancel' | transloco }}
                    </button>
                </div>
            </div>
        </form>
    </fuse-card>
</div>
