<div class="p-6 w-full h-full flex flex-col space-y-4">
    <h2 class="text-2xl font-semibold">Liste des résidences</h2>

    <div class="w-full flex justify-end items-center">
        <!-- New user -->
        <button
            class="ml-4 px-1 sm:px-4 min-w-10 text-white"
            mat-flat-button
            [color]="'primary'"
            (click)="addResidence()"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:plus-circle'"
            ></mat-icon>
            <span class="hidden sm:inline-block ml-2">Ajouter</span>
        </button>
    </div>

    <!-- Search -->
    <fuse-card class="flex rounded-md items-center px-4 justify-end">
        <div class="p-2 w-full max-w-120">
            <mat-form-field
                class="w-full fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript ml-4 lg:ml-0"
            >
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"
                    matPrefix
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Chercher votre résidence'"
                    #searchInput
                />
            </mat-form-field>
        </div>
    </fuse-card>

    <div class="flex-auto p-6 sm:p-10">
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
            <fuse-card
                *ngFor="let residence of residences$ | async"
                class="col-span-1 flex h-60 overflow-hidden flex-row w-full"
            >
                <div class="flex-0 w-64">
                    <img
                        class="w-full h-full object-cover"
                        [src]="getImage(residence)"
                        alt="Card cover image"
                    />
                </div>
                <div class="flex flex-col flex-auto m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">
                        {{ residence.libelle }}
                    </div>
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="text-secondary ml-2">4.5</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">98 reviews</div>
                    </div>
                    <div class="flex-1 mt-6 truncate">
                        {{ residence.description }}
                    </div>
                    <div class="flex items-center mt-3 -mx-3">
                        <a class="px-3 mr-1" mat-button [color]="'primary'">
                            Détail
                        </a>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>
