<h2 mat-dialog-title class="text-2xl font-semibold">
    {{ 'delegations.form.editTitle' | transloco }}
</h2>
<div mat-dialog-content>
    <form [formGroup]="delegationForm" (ngSubmit)="onSubmit()">
        <div class="w-full flex flex-col space-y-4 py-2">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>{{ 'fields.delegationName' | transloco }}</mat-label>
                <input matInput type="text" formControlName="nom" />
            </mat-form-field>
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>{{ 'fields.peopleCount' | transloco }}</mat-label>
                <input type="number" matInput formControlName="nombre" />
            </mat-form-field>

            <div class="w-full flex flex-col sm:flex-row gap-4 sm:items-center">
                <button
                    [disabled]="delegationForm.invalid"
                    mat-flat-button
                    color="primary"
                >
                    {{ 'common.save' | transloco }}
                </button>
                <button
                    type="button"
                    mat-flat-button
                    class="bg-red-600 text-white"
                    (click)="onClose()"
                >
                    {{ 'common.cancel' | transloco }}
                </button>
            </div>
        </div>
    </form>
</div>
