/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */


.responsive-table {
    @apply relative overflow-x-auto rounded-lg;
}

.mat-form-field-required-marker { color: red !important }

.table {
    border-spacing: 0 8px;
    @apply min-w-full border-separate text-sm text-left text-gray-500 dark:text-gray-400;
    tr {
        @apply rounded-md;
    }
    tr td:last-child, tr th:last-child {
        @apply rounded-r-md;
    }
    tr td:first-child, tr th:first-child {
        @apply rounded-l-md;
    }
    thead {
        @apply text-md shadow-md text-primary-500 uppercase bg-white border-b;
    }
    tbody tr {
        @apply bg-white shadow-md border-b dark:bg-gray-800 dark:border-gray-700;
    }
    th, td {
        @apply px-6 py-3;
    }
}

.content-container {
    height: calc(100vh - theme('spacing.16'));
}

[dir='rtl'] {
    .header-actions {
        padding-left: 0 !important;
        padding-right: theme('spacing.2') !important;
        margin-left: 0 !important;
        margin-right: auto !important;

        > :not([hidden]) ~ :not([hidden]) {
            --tw-space-x-reverse: 1 !important;
        }
    }

    .user-summary {
        margin-left: 0 !important;
        margin-right: theme('spacing.4') !important;
    }

    .login-language-selector {
        right: auto !important;
        left: theme('spacing.4') !important;
    }

    @media (min-width: theme('screens.md')) {
        .login-panel {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-top-left-radius: theme('borderRadius.2xl') !important;
            border-bottom-left-radius: theme('borderRadius.2xl') !important;
        }
    }
}
