<div class="p-6 w-full h-full flex flex-col space-y-4">
    <h2 class="text-2xl font-semibold">{{ 'guests.title' | transloco }}</h2>

    <!-- Search -->
    <div class="flex items-center justify-between">
        <mat-form-field
            class="w-full max-w-120 fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript ml-4 lg:ml-0"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:search'"
                matPrefix
            ></mat-icon>
            <input
                matInput
                [autocomplete]="'off'"
                [placeholder]="'common.search' | transloco"
                #searchInput
            />
        </mat-form-field>
        <!-- New user -->
        <button
            class="ml-4 px-1 sm:px-4 min-w-10 text-white"
            mat-flat-button
            [color]="'primary'"
            (click)="addNewInvite()"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:plus-circle'"
            ></mat-icon>
            <span class="hidden sm:inline-block ml-2">
                {{ 'common.new' | transloco }}
            </span>
        </button>
    </div>

    <div class="responsive-table">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'fields.lastName' | transloco }}</th>
                    <th>{{ 'fields.firstName' | transloco }}</th>
                    <th>{{ 'fields.phone' | transloco }}</th>
                    <th>{{ 'fields.address' | transloco }}</th>
                    <th>{{ 'fields.arrivalDate' | transloco }}</th>
                    <th>{{ 'fields.departureDate' | transloco }}</th>
                    <th>{{ 'fields.accommodation' | transloco }}</th>
                    <th>{{ 'common.actions' | transloco }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sow</td>
                    <td>Cheikh</td>
                    <td>771235676</td>
                    <td>Dakar</td>
                    <td>26-05-2023</td>
                    <td>28-05-2023</td>
                    <td>P. A n°103</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
