<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">{{ 'guests.title' | transloco }}</h2>
    </div>

    <!-- Search -->
    <div class="kh-toolbar sm:flex-row sm:justify-between">
        <mat-form-field
            class="w-full sm:max-w-120 fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:search'"
                matPrefix
            ></mat-icon>
            <input
                matInput
                [autocomplete]="'off'"
                [placeholder]="'common.search' | transloco"
                #searchInput
            />
        </mat-form-field>
        <button
            class="w-full sm:w-auto text-white"
            mat-flat-button
            [color]="'primary'"
            (click)="addNewInvite()"
        >
            <mat-icon
                class="icon-size-5 text-white"
                [svgIcon]="'heroicons_solid:plus-circle'"
            ></mat-icon>
            <span class="kh-button-label">
                {{ 'common.new' | transloco }}
            </span>
        </button>
    </div>

    <div class="responsive-table">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'fields.lastName' | transloco }}</th>
                    <th>{{ 'fields.firstName' | transloco }}</th>
                    <th>{{ 'fields.phone' | transloco }}</th>
                    <th>{{ 'fields.address' | transloco }}</th>
                    <th>{{ 'fields.arrivalDate' | transloco }}</th>
                    <th>{{ 'fields.departureDate' | transloco }}</th>
                    <th>{{ 'fields.accommodation' | transloco }}</th>
                    <th>{{ 'common.actions' | transloco }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sow</td>
                    <td>Cheikh</td>
                    <td>771235676</td>
                    <td>Dakar</td>
                    <td>26-05-2023</td>
                    <td>28-05-2023</td>
                    <td>P. A n°103</td>
                    <td>
                        <button
                            mat-icon-button
                            [attr.aria-label]="'common.edit' | transloco"
                        >
                            <mat-icon
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
