<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">
            {{ 'residences.title' | transloco }}
        </h2>
        <div class="kh-page-actions">
            <button
                class="w-full sm:w-auto text-white"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="['nouveau']"
            >
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:plus-circle'"
                ></mat-icon>
                <span class="kh-button-label">
                    {{ 'common.add' | transloco }}
                </span>
            </button>
        </div>
    </div>

    <div
        class="w-full grid grid-cols-1 md:grid-cols-2 gap-6"
        *ngIf="residences$ | async as residences"
    >
        <fuse-card
            *ngFor="let residence of residences"
            class="col-span-1 flex flex-col h-full md:h-60 overflow-hidden md:flex-row w-full"
        >
            <div class="flex-0 w-full h-60 md:h-full md:w-64">
                <img
                    class="w-full h-full object-cover"
                    [src]="getImage(residence)"
                    [alt]="'residences.imageAlt' | transloco"
                />
            </div>
            <div class="flex flex-col flex-auto m-4 sm:m-8 sm:mb-4">
                <div class="text-2xl font-semibold leading-tight">
                    {{ residence.libelle }}
                </div>
                <div class="flex items-center leading-none mt-2">
                    <!-- <div class="text-secondary ml-2">4.5</div>
                    <div class="text-secondary mx-2">&bull;</div> -->
                    <div class="text-secondary">
                        {{
                            'residences.pavilionCount'
                                | transloco
                                    : { count: residence.pavillons.length }
                        }}
                    </div>
                </div>
                <div class="flex-1 mt-6">
                    {{ residence.description | summarize : 100 }}
                </div>
                <div class="flex items-center mt-3">
                    <a
                        class="w-full sm:w-auto"
                        mat-flat-button
                        [color]="'primary'"
                        [routerLink]="[residence.id]"
                    >
                        {{ 'common.details' | transloco }}
                    </a>
                </div>
            </div>
        </fuse-card>
        <fuse-card
            class="w-full col-span-full p-4 justify-center items-center flex"
            *ngIf="residences.length <= 0"
        >
            <span>{{ 'residences.empty' | transloco }}</span>
        </fuse-card>
    </div>
</div>
