<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">
            {{ 'residences.form.addTitle' | transloco }}
        </h2>
        <div class="kh-page-actions">
            <button
                class="w-full sm:w-auto text-white"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="['/residences']"
            >
                <mat-icon
                    class="icon-size-5 dir-aware-icon"
                    [svgIcon]="'heroicons_solid:arrow-left'"
                ></mat-icon>
                <span class="kh-button-label">
                    {{ 'residences.actions.list' | transloco }}
                </span>
            </button>
        </div>
    </div>

    <form [formGroup]="residenceForm" (ngSubmit)="saveResidence()">
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 min-w-0">
            <div class="w-full flex flex-col">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label for="libelle">
                        {{ 'residences.fields.name' | transloco }}
                    </mat-label>
                    <input matInput name="libelle" formControlName="libelle" />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:home'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="f.libelle.touched && f.libelle.errors?.required"
                        class="error-message"
                    >
                        {{ 'validation.required.name' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label for="adresse">
                        {{ 'fields.address' | transloco }}
                    </mat-label>
                    <input matInput name="adresse" formControlName="adresse" />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:map'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="f.adresse.touched && f.adresse.errors?.required"
                        class="error-message"
                    >
                        {{ 'validation.required.address' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label for="telephoneResidence"
                        >{{ 'residences.fields.phone' | transloco }}</mat-label
                    >
                    <input
                        matInput
                        maxlength="9"
                        name="telephoneResidence"
                        formControlName="telephoneResidence"
                        #postalCode
                    />
                    <mat-hint align="end"
                        >{{ postalCode.value.length }} / 9</mat-hint
                    >
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="
                            f.telephoneResidence.touched &&
                            f.telephoneResidence.errors?.required
                        "
                        class="error-message"
                    >
                        {{ 'validation.required.phone' | transloco }}
                    </mat-error>
                </mat-form-field>
                <div class="w-full flex items-center pb-4 gap-2">
                    <h4 class="text-lg font-medium">
                        {{ 'fields.manager' | transloco }}
                    </h4>
                    <div class="w-full flex-1 h-0.5 bg-slate-400"></div>
                </div>
                <mat-form-field class="col-span-1 w-full">
                    <mat-label for="prenom">
                        {{ 'fields.firstName' | transloco }}
                    </mat-label>
                    <input matInput name="prenom" formControlName="prenom" />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="f.prenom.touched && f.prenom.errors?.required"
                        class="error-message"
                    >
                        {{ 'validation.required.firstName' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-span-1 w-full">
                    <mat-label for="nom">
                        {{ 'fields.lastName' | transloco }}
                    </mat-label>
                    <input matInput name="nom" formControlName="nom" />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="f.nom.touched && f.nom.errors?.required"
                        class="error-message"
                    >
                        {{ 'validation.required.lastName' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-span-1 w-full">
                    <mat-label for="telephone">
                        {{ 'fields.phone' | transloco }}
                    </mat-label>
                    <input
                        matInput
                        maxlength="9"
                        name="telephone"
                        formControlName="telephone"
                    />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="
                            f.telephone.touched && f.telephone.errors?.required
                        "
                        class="error-message"
                    >
                        {{ 'validation.required.phone' | transloco }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="overflow-hidden flex flex-col gap-4">
                <input
                    type="file"
                    class="hidden"
                    #fileInput
                    (change)="fileChangeEvent($event)"
                />
                <div class="w-full min-h-80 max-h-100">
                    <img
                        class="object-cover w-full h-full"
                        [src]="imageResidence"
                        alt=""
                    />
                </div>
                <div class="w-full p-3 flex flex-col sm:flex-row gap-3">
                    <button
                        *ngIf="!isImage"
                        mat-flat-button
                        type="button"
                        class="w-full sm:w-auto bg-secondary text-white"
                        (click)="fileInput.click()"
                    >
                        {{ 'residences.actions.chooseImage' | transloco }}
                    </button>
                    <button
                        *ngIf="isImage"
                        mat-flat-button
                        type="button"
                        class="w-full sm:w-auto bg-red-600 text-white"
                        (click)="removeImage()"
                    >
                        {{ 'residences.actions.removeImage' | transloco }}
                    </button>
                </div>
            </div>
            <div class="kh-form-actions">
                <button
                    [disabled]="residenceForm.invalid"
                    type="submit"
                    mat-flat-button
                    class="w-full sm:max-w-60"
                    color="primary"
                >
                    {{ 'common.save' | transloco }}
                </button>
                <button
                    mat-flat-button
                    mat-dialog-close
                    type="button"
                    class="w-full sm:max-w-60 bg-red-600 text-white"
                >
                    {{ 'common.cancel' | transloco }}
                </button>
            </div>
        </div>
    </form>
</div>
