 <div class="p-6 w-full h-full flex flex-col space-y-6">
    <h2 class="text-2xl font-semibold">Dashboard du <strong>29-07-2023</strong></h2>

    <div class="space-y-4">
        <!-- Header -->
        <!-- <div class="bg-card">
            <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-3">
                <h1>RÉSIDENCE KHADIM RASSOUL DAAROU MARNANE</h1>
            </div>
        </div> -->

        <div class="responsive-table grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
            
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">RÉSERVATIONS</div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="summaryMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #summaryMenu="matMenu">
                            <button mat-menu-item>faire une réservation</button>
                            <button mat-menu-item>etat des chambres</button>
                        </mat-menu>
                    </div>
                </div>
                <div *ngIf="residences$ | async as residences" class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">{{residences.length}}</div>
                    <div class="text-lg font-medium text-green-600 dark:text-blue-500">Résidences</div>
                    <!--<div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                        <div class="ml-1.5 text-lg font-semibold">88</div>
                        <div class="text-md font-medium truncate">chambres occupées</div>
                    </div>-->
                </div>
            </div>

            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">CHAMBRES</div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="summaryMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #summaryMenu="matMenu">
                            <button mat-menu-item>faire une réservation</button>
                            <button mat-menu-item>etat des chambres</button>
                        </mat-menu>
                    </div>
                </div>
                <!-- <app-card-count name="RÉSIDENCES"></app-card-count>
                <app-card-count name="CHAMBRES" type="chambres disponibles" nameOne="R M K" nameTwo="R K T"></app-card-count>
                <app-card-count name="INVITÉS REÇUS"></app-card-count>
                <app-card-count name="ÉVÉNEMENTS" type="En cours"></app-card-count> -->
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">370</div>
                    <div class="text-lg mt-3 font-medium text-red-600 dark:text-blue-500">chambres disponibles</div>
                    <div class="flex flex-row items-baseline justify-between w-full text-black">
                        <div class="ml-1.5 text-lg font-semibold">R T M
                            <p class="text-center">37</p>
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">R K M
                            <p class="text-center">25</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">TOTAL INVITÉS REÇUS</div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="summaryMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #summaryMenu="matMenu">
                            <button mat-menu-item>faire une réservation</button>
                            <button mat-menu-item>etat des chambres</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">7500</div>
                    <!-- <div class="text-lg mt-3 font-medium text-amber-600 dark:text-amber-500">Chambres disponibles</div> -->
                    <div class="flex flex-row mt-3 items-baseline justify-between w-full text-black">
                        <div class="ml-1.5 text-lg font-semibold">R T M
                            <p class="text-center">370</p>
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">R K M
                            <p class="text-center">255</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">ÉVÉNEMENTS</div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="summaryMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #summaryMenu="matMenu">
                            <button mat-menu-item>faire une réservation</button>
                            <button mat-menu-item>etat des chambres</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">5</div>
                    <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Événements</div>
                   <!-- <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                        <div class="ml-1.5 text-lg font-semibold">41</div>
                        <div class="text-md font-medium truncate">chambres occupées</div>
                    </div> -->
                </div>
            </div>
            

        </div>  
    </div>

    <div class="flex flex-col flex-auto">
        <!-- <div class="font-medium text-secondary">New vs. Closed</div> -->
        <div class="flex flex-col flex-auto">
            <apx-chart
                class="flex-auto w-full h-80"
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title"
            >
            </apx-chart>
        </div>
    </div>

</div>
