<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">
            {{ 'users.title' | transloco }}
        </h2>
        <div class="kh-page-actions">
            <button
                class="w-full sm:w-auto text-white"
                mat-flat-button
                [color]="'primary'"
                (click)="openModal()"
            >
                <mat-icon
                    class="icon-size-5 text-white"
                    [svgIcon]="'heroicons_solid:plus-circle'"
                ></mat-icon>
                <span class="kh-button-label">
                    {{ 'common.add' | transloco }}
                </span>
            </button>
        </div>
    </div>

    <!-- Search -->
    <fuse-card class="flex flex-col lg:flex-row rounded-md items-stretch lg:items-center px-4 justify-between gap-3 overflow-hidden">
        <div class="flex items-center gap-2 overflow-x-auto">
            <div
                class="h-full p-4 cursor-pointer text-base sm:text-lg whitespace-nowrap"
                [ngClass]="{ 'border-b-2 border-primary': role === item.value }"
                *ngFor="let item of roleItems"
                (click)="onFilterByRole(item.value)"
            >
                <span>{{ item.labelKey | transloco }}</span>
            </div>
        </div>

        <div class="p-2 w-full lg:max-w-120">
            <mat-form-field
                class="w-full fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript"
            >
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"
                    matPrefix
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'common.search' | transloco"
                    [(ngModel)]="search"
                    (ngModelChange)="getAllUsers()"
                    #searchInput
                />
            </mat-form-field>
        </div>
    </fuse-card>

    <div class="responsive-table">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'common.id' | transloco }}</th>
                    <th>{{ 'fields.firstName' | transloco }}</th>
                    <th>{{ 'fields.lastName' | transloco }}</th>
                    <th>{{ 'fields.phone' | transloco }}</th>
                    <th>{{ 'fields.role' | transloco }}</th>
                    <th>{{ 'fields.status' | transloco }}</th>
                    <th>{{ 'common.actions' | transloco }}</th>
                </tr>
            </thead>
            <tbody *ngIf="data$ | async as data">
                <tr *ngIf="data.empty">
                    <td class="text-center" colspan="7">
                        {{ 'users.empty' | transloco }}
                    </td>
                </tr>
                <tr *ngFor="let user of data.content">
                    <td>{{ user.id }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ 'roles.' + user.accountType?.toLowerCase() | transloco }}</td>
                    <td>
                        <mat-slide-toggle
                            (click)="confirmStatut(user.id)"
                            [(ngModel)]="user.statut"
                            color="primary"
                        ></mat-slide-toggle>
                    </td>
                    <td>
                        <button
                            mat-icon-button
                            (click)="openModal(user)"
                            [attr.aria-label]="'common.edit' | transloco"
                        >
                            <mat-icon
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
