<div class="p-6 w-full content-container flex flex-col space-y-4">
    <div class="w-full flex justify-between items-center">
        <h2 class="text-4xl font-semibold">Nouvelle réservation</h2>
        <!-- New user -->
        <button
            class="ml-4 px-1 sm:px-4 min-w-10 text-white"
            mat-flat-button
            [routerLink]="['/reservations']"
            [color]="'warn'"
        >
            <mat-icon
                class="icon-size-5"
                svgIcon="mat_solid:arrow_back"
            ></mat-icon>
            <span class="hidden sm:inline-block ml-2">Annuler</span>
        </button>
    </div>

    <div class="w-full flex-1 h-full overflow-y-scroll">
        <form
            class="w-full"
            [formGroup]="reservationForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="w-full grid grid-cols-2 gap-6">
                <!-- Info réservation -->
                <div class="col-span-2 w-full flex space-x-2 items-center">
                    <h2 class="text-xl font-semibold">
                        Information de la reservation
                    </h2>
                    <div class="flex-1">
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div class="col-span-1 w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Période de séjour</mat-label>
                        <mat-date-range-input
                            formGroupName="period"
                            [rangePicker]="picker"
                        >
                            <input
                                matStartDate
                                (dateChange)="
                                    f.period.controls.sortie.reset();
                                    onLoadChambre()
                                "
                                formControlName="entree"
                                placeholder="Date d'entrée"
                            />
                            <input
                                matEndDate
                                (dateChange)="onLoadChambre()"
                                formControlName="sortie"
                                placeholder="Date de sortie"
                            />
                        </mat-date-range-input>
                        <mat-hint>
                            Du
                            {{
                                f.period.controls.entree.value
                                    | date : "dd MMM yyyy"
                            }}
                            Au
                            {{
                                f.period.controls.sortie.value
                                    | date : "dd MMM yyyy"
                            }}
                        </mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="col-span-1 w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Evénement</mat-label>
                        <mat-select formControlName="evenement">
                            <mat-option
                                *ngFor="let e of events$ | async"
                                [value]="e"
                                >{{ e.libelle }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-span-1 w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Résidence</mat-label>
                        <mat-select
                            (ngModelChange)="onLoadChambre(); onLoadHotes()"
                            #residenceSelect
                            formControlName="residence"
                        >
                            <mat-option
                                *ngFor="let r of residences$ | async"
                                [value]="r.id"
                                >{{ r.libelle }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Info réservation -->
                <div class="col-span-2 w-full flex space-x-2 items-center">
                    <h2 class="text-xl font-semibold">
                        Information des invités
                    </h2>
                    <div class="flex-1">
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div class="col-span-1 w-full">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Délégation</mat-label>
                        <mat-select
                            formControlName="delegation"
                            (ngModelChange)="onChoiceDelegation()"
                        >
                            <mat-option
                                *ngFor="let d of delegations$ | async"
                                [value]="d"
                                >{{ d.nom }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="col-span-full w-full flex items-center responsive-table"
                    *ngIf="inviteDelegations.length > 0"
                >
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <mat-checkbox
                                        (change)="onCheckAll($event)"
                                        formControlName="checkAll"
                                    ></mat-checkbox>
                                </th>
                                <th>Invité</th>
                                <th class="whitespace-nowrap">Chambre</th>
                                <th class="whitespace-nowrap">Accueillant</th>
                                <th class="text-center">
                                    <span class="mr-2">Présence cérémonie</span>
                                    <mat-checkbox
                                        formControlName="ceremonie"
                                        (change)="onChoiceAllPresence()"
                                    ></mat-checkbox>
                                </th>
                            </tr>
                        </thead>
                        <tbody formArrayName="invites">
                            <tr
                                *ngFor="
                                    let inv of inviteDelegations;
                                    let i = index
                                "
                                [formGroupName]="i"
                            >
                                <td>
                                    <mat-checkbox
                                        (change)="onCheckInvite(i)"
                                        formControlName="checked"
                                    ></mat-checkbox>
                                </td>
                                <td class="whitespace-nowrap">
                                    {{ inv.prenom | titlecase }}
                                    {{ inv.nom | uppercase }}
                                </td>
                                <td class="whitespace-nowrap">
                                    <mat-form-field
                                        class="w-full fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript"
                                        appearance="fill"
                                    >
                                        <mat-select
                                            [placeholder]="'Chambre invité'"
                                            formControlName="chambre"
                                            (ngModelChange)="
                                                onChoiceChambre($event)
                                            "
                                        >
                                            <mat-option
                                                *ngFor="let c of chambres"
                                                [disabled]="isUnvalaible(c)"
                                                [value]="c"
                                            >
                                                {{ c.reference }} -
                                                {{
                                                    c.nombrePlace -
                                                        c.placeReservee
                                                }}
                                                place(s) disponible(s)
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="whitespace-nowrap">
                                    <mat-form-field
                                        class="w-full fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript"
                                        appearance="fill"
                                    >
                                        <mat-select
                                            [placeholder]="'Accueillant'"
                                            formControlName="accueillant"
                                        >
                                            <mat-option
                                                *ngFor="let acc of accueillants"
                                                [value]="acc"
                                            >
                                                {{ acc.prenom | titlecase }} -
                                                {{ acc.nom | uppercase }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="whitespace-nowrap text-center">
                                    <mat-checkbox
                                        (change)="onPresence()"
                                        formControlName="presence"
                                    ></mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-span-full mb-4 flex w-full items-center">
                    <button
                        mat-raised-button
                        class="w-full max-w-60"
                        color="primary"
                        [disabled]="reservationForm.invalid"
                    >
                        Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
