<h2 mat-dialog-title>{{ titleKey | transloco }}</h2>
<mat-dialog-content>
    <form [formGroup]="accueillantForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-4">
            <ng-container formGroupName="utilisateur">
                <mat-form-field class="col-span-1 w-full">
                    <mat-label for="prenom">{{
                        'fields.firstName' | transloco
                    }}</mat-label>
                    <input matInput name="prenom" formControlName="prenom" />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="
                            f.utilisateur.get('prenom').touched &&
                            f.utilisateur.get('prenom').errors?.required
                        "
                        class="error-message"
                    >
                        {{ 'validation.required.firstName' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-span-1 w-full">
                    <mat-label for="nom">{{
                        'fields.lastName' | transloco
                    }}</mat-label>
                    <input matInput name="nom" formControlName="nom" />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="
                            f.utilisateur.get('nom').touched &&
                            f.utilisateur.get('nom').errors?.required
                        "
                        class="error-message"
                    >
                        {{ 'validation.required.lastName' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-span-1 w-full">
                    <mat-label for="telephone">{{
                        'fields.phone' | transloco
                    }}</mat-label>
                    <input
                        matInput
                        maxlength="9"
                        name="telephone"
                        formControlName="telephone"
                    />
                    <mat-icon
                        class="icon-size-5"
                        matSuffix
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <mat-error
                        *ngIf="
                            f.utilisateur.get('telephone').touched &&
                            f.utilisateur.get('telephone').errors?.required
                        "
                        class="error-message"
                    >
                        {{ 'validation.required.phone' | transloco }}
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <mat-form-field class="col-span-1 w-full">
                <mat-label for="residence">{{
                    'fields.residence' | transloco
                }}</mat-label>
                <mat-select
                    formControlName="residence"
                    [compareWith]="compareResidence"
                >
                    <mat-option
                        *ngFor="let res of residences$ | async"
                        [value]="res"
                        >{{ res.libelle }}</mat-option
                    >
                </mat-select>
                <mat-error
                    *ngIf="f.residence.touched && f.residence.errors?.required"
                    class="error-message"
                >
                    {{ 'validation.required.residence' | transloco }}
                </mat-error>
            </mat-form-field>
        </div>
        <mat-dialog-actions align="end">
            <button
                mat-flat-button
                mat-dialog-close
                type="button"
                class="bg-red-600 text-white"
            >
                {{ 'common.cancel' | transloco }}
            </button>
            <button
                mat-flat-button
                [disabled]="accueillantForm.invalid"
                color="primary"
            >
                {{ 'common.save' | transloco }}
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
