<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">
            {{ 'reservations.form.editTitle' | transloco }}
        </h2>
        <div class="kh-page-actions">
            <button
                class="w-full sm:w-auto text-white"
                mat-flat-button
                [routerLink]="['/reservations']"
                [color]="'warn'"
            >
                <mat-icon
                    class="icon-size-5 dir-aware-icon"
                    svgIcon="mat_solid:arrow_back"
                ></mat-icon>
                <span class="kh-button-label">
                    {{ 'common.cancel' | transloco }}
                </span>
            </button>
        </div>
    </div>

    <div class="w-full flex-1 min-h-0">
        <form
            class="w-full"
            [formGroup]="reservationForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
                <mat-form-field class="w-full">
                    <mat-label>{{ 'fields.arrivalDate' | transloco }}</mat-label>
                    <input
                        matInput
                        [matDatepicker]="pickerEntree"
                        formControlName="dateEntree"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerEntree"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerEntree></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>{{ 'fields.departureDate' | transloco }}</mat-label>
                    <input
                        matInput
                        [matDatepicker]="pickerSortie"
                        formControlName="dateSortie"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerSortie"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerSortie></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label
                        >{{ 'fields.room' | transloco }} ({{
                            reservation?.chambre.reference
                        }})</mat-label
                    >
                    <mat-select
                        formControlName="chambre"
                        [compareWith]="compareChambre"
                    >
                        <mat-option
                            *ngFor="let c of chambres"
                            [disabled]="isUnvalaible(c)"
                            [value]="c"
                        >
                            {{ c.reference }} -
                            {{ c.nombrePlace - c.placeReservee }}
                            {{ 'reservations.form.availablePlaces' | transloco }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>{{ 'fields.host' | transloco }}</mat-label>
                    <mat-select
                        formControlName="accueillant"
                        [compareWith]="compareAccueillant"
                    >
                        <mat-option
                            *ngFor="let acc of accueillants"
                            [value]="acc"
                        >
                            {{ acc.utilisateur.prenom | titlecase }} -
                            {{ acc.utilisateur.nom | uppercase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>{{ 'fields.manager' | transloco }}</mat-label>
                    <mat-select
                        formControlName="responsable"
                        [compareWith]="compareResponsable"
                    >
                        <mat-option
                            *ngFor="let resp of responsables"
                            [value]="resp"
                        >
                            {{ resp.prenom | titlecase }} -
                            {{ resp.nom | uppercase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="w-full flex items-center">
                    <mat-checkbox formControlName="presence"
                        >{{ 'fields.ceremonyPresence' | transloco }}</mat-checkbox
                    >
                </div>
                <div class="kh-form-actions">
                    <button
                        mat-flat-button
                        class="w-full sm:max-w-60"
                        color="primary"
                        [disabled]="reservationForm.invalid"
                    >
                        {{ 'common.save' | transloco }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
