<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">{{ 'hosts.title' | transloco }}</h2>
    </div>

    <!-- Search -->
    <div class="kh-toolbar sm:flex-row sm:justify-between">
        <mat-form-field
            class="w-full sm:max-w-120 fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript"
        >
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:search'"
                matPrefix
            ></mat-icon>
            <input
                matInput
                [autocomplete]="'off'"
                [placeholder]="'common.search' | transloco"
                #searchInput
            />
        </mat-form-field>
        <button
            class="w-full sm:w-auto text-white"
            mat-flat-button
            [color]="'primary'"
            (click)="onOpenModal()"
        >
            <mat-icon
                class="icon-size-5 text-white"
                [svgIcon]="'heroicons_solid:plus-circle'"
            ></mat-icon>
            <span class="kh-button-label">
                {{ 'common.new' | transloco }}
            </span>
        </button>
    </div>

    <div class="responsive-table" *ngIf="data$ | async as data">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="whitespace-nowrap">
                        {{ 'fields.name' | transloco }}
                    </th>
                    <th>{{ 'fields.phone' | transloco }}</th>
                    <th>{{ 'fields.residence' | transloco }}</th>
                    <th>{{ 'common.actions' | transloco }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="data.empty">
                    <td class="text-center" colspan="5">
                        {{ 'hosts.empty' | transloco }}
                    </td>
                </tr>
                <tr *ngFor="let acc of data.content">
                    <td>{{ acc.id }}</td>
                    <td class="whitespace-nowrap">
                        {{ acc.utilisateur.prenom | titlecase }}
                        {{ acc.utilisateur.nom | uppercase }}
                    </td>
                    <td>{{ acc.utilisateur.telephone }}</td>
                    <td>{{ acc.residence.libelle }}</td>
                    <td class="whitespace-nowrap">
                        <button
                            mat-icon-button
                            (click)="onOpenModal(acc)"
                            [attr.aria-label]="'common.edit' | transloco"
                        >
                            <mat-icon
                                class="icon-size-4"
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-container *ngIf="data.totalElements > size">
            <paginator
                [pageable]="data"
                (pageEvent)="onPageChange($event)"
            ></paginator>
        </ng-container>
    </div>
</div>
