<div class="p-6 w-full content-container flex flex-col space-y-4">
    <div class="w-full flex justify-between items-center">
        <h2 class="text-4xl font-semibold">{{ delegation?.nom }}</h2>
        <!-- New user -->
        <button
            class="ml-4 px-1 sm:px-4 min-w-10 text-white"
            mat-flat-button
            [routerLink]="['/delegations']"
            [color]="'primary'"
        >
            <mat-icon
                class="icon-size-5"
                svgIcon="mat_solid:arrow_back"
            ></mat-icon>
            <span class="hidden sm:inline-block ml-2">Retour à la liste</span>
        </button>
    </div>

    <div class="w-full flex justify-end items-center">
        <button mat-raised-button class="" (click)="openModal()">
            <mat-icon svgIcon="heroicons_solid:plus" class="mr-2"></mat-icon>
            <span>Ajouter</span>
        </button>
    </div>

    <div class="responsive-table">
        <table class="table">
            <thead>
                <tr>
                    <th class="whitespace-nowrap">Prénom</th>
                    <th class="whitespace-nowrap">Nom</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="whitespace-nowrap">
                        {{ delegation?.chef.prenom | titlecase }}
                    </td>
                    <td class="whitespace-nowrap">
                        {{ delegation?.chef.nom | uppercase }}
                    </td>
                    <td>{{ delegation?.chef.telephone }}</td>
                    <td>{{ delegation?.chef.adresse }}</td>
                    <td class="whitespace-nowrap">
                        <button
                            mat-icon-button
                            (click)="openModal(delegation?.chef)"
                        >
                            <mat-icon
                                class="icon-size-4 text-amber-500"
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngFor="let inv of delegation?.invites">
                    <td class="whitespace-nowrap">
                        {{ inv.prenom | titlecase }}
                    </td>
                    <td class="whitespace-nowrap">
                        {{ inv.nom | uppercase }}
                    </td>
                    <td>{{ inv.telephone }}</td>
                    <td>{{ inv.adresse }}</td>
                    <td class="whitespace-nowrap">
                        <button mat-icon-button (click)="openModal(inv)">
                            <mat-icon
                                class="icon-size-4 text-amber-500"
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
