<div class="kh-page">
    <div class="kh-page-header">
        <h2 class="kh-page-title">{{ delegation?.nom }}</h2>
        <div class="kh-page-actions">
            <button
                class="w-full sm:w-auto text-white"
                mat-flat-button
                [routerLink]="['/delegations']"
                [color]="'primary'"
            >
                <mat-icon
                    class="icon-size-5 dir-aware-icon"
                    svgIcon="mat_solid:arrow_back"
                ></mat-icon>
                <span class="kh-button-label">
                    {{ 'common.backToList' | transloco }}
                </span>
            </button>
        </div>
    </div>

    <div class="kh-page-actions sm:justify-end">
        <button class="w-full sm:w-auto" mat-raised-button (click)="openModal()">
            <mat-icon svgIcon="heroicons_solid:plus" class="kh-inline-icon"></mat-icon>
            <span>{{ 'common.add' | transloco }}</span>
        </button>
    </div>

    <div class="responsive-table">
        <table class="table">
            <thead>
                <tr>
                    <th class="whitespace-nowrap">
                        {{ 'fields.firstName' | transloco }}
                    </th>
                    <th class="whitespace-nowrap">
                        {{ 'fields.lastName' | transloco }}
                    </th>
                    <th>{{ 'fields.phone' | transloco }}</th>
                    <th>{{ 'fields.address' | transloco }}</th>
                    <th>{{ 'common.actions' | transloco }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="whitespace-nowrap">
                        {{ delegation?.chef.prenom | titlecase }}
                    </td>
                    <td class="whitespace-nowrap">
                        {{ delegation?.chef.nom | uppercase }}
                    </td>
                    <td>{{ delegation?.chef.telephone }}</td>
                    <td>{{ delegation?.chef.adresse }}</td>
                    <td class="whitespace-nowrap">
                        <button
                            mat-icon-button
                            (click)="openModal(delegation?.chef)"
                            [attr.aria-label]="'common.edit' | transloco"
                        >
                            <mat-icon
                                class="icon-size-4 text-amber-500"
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngFor="let inv of delegation?.invites">
                    <td class="whitespace-nowrap">
                        {{ inv.prenom | titlecase }}
                    </td>
                    <td class="whitespace-nowrap">
                        {{ inv.nom | uppercase }}
                    </td>
                    <td>{{ inv.telephone }}</td>
                    <td>{{ inv.adresse }}</td>
                    <td class="whitespace-nowrap">
                        <button
                            mat-icon-button
                            (click)="openModal(inv)"
                            [attr.aria-label]="'common.edit' | transloco"
                        >
                            <mat-icon
                                class="icon-size-4 text-amber-500"
                                svgIcon="heroicons_solid:pencil-alt"
                            ></mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
