<h2 mat-dialog-title class="text-2xl font-semibold">
    {{ titleKey | transloco }}
</h2>
<div mat-dialog-content>
    <form [formGroup]="chambreForm" (ngSubmit)="onSubmit()">
        <div class="w-full flex flex-col space-y-4 py-2">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>{{ 'fields.pavilion' | transloco }}</mat-label>
                <mat-select
                    formControlName="pavillon"
                    (selectionChange)="onSelectPavillon()"
                    [compareWith]="onComparePavillon"
                >
                    <mat-option *ngFor="let p of pavillons" [value]="p">{{
                        p.libelle
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>{{ 'residences.rooms.floor' | transloco }}</mat-label>
                <mat-select
                    formControlName="niveau"
                    [compareWith]="onComparePavillon"
                >
                    <mat-option *ngFor="let p of paliers" [value]="p">{{
                        getFloorLabel(p)
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>{{ 'residences.rooms.number' | transloco }}</mat-label>
                <input matInput type="text" formControlName="numero" />
            </mat-form-field>

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>{{ 'residences.rooms.places' | transloco }}</mat-label>
                <input matInput type="text" formControlName="nombrePlace" />
            </mat-form-field>

            <div class="w-full flex flex-col sm:flex-row gap-4 sm:items-center">
                <button mat-raised-button color="primary">
                    {{ 'common.save' | transloco }}
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    (click)="onReset()"
                >
                    {{ 'common.cancel' | transloco }}
                </button>
            </div>
        </div>
    </form>
</div>
